/* Estilos para todo el proyecto */
body {
    background-image: radial-gradient(circle, rgba(250, 157, 201, 0.2) 0%, rgba(253, 226, 226, 0.1) 100%), url(./static/lunaMiel21.png);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-color: #fff;
    background-attachment: fixed;
    opacity: 90%;

    font-family: 'Poppins', sans-serif;
    display: flex;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
        "contenido contenido contenido contenido"
        "contenido contenido contenido contenido"
        "pie pie pie pie";
}
.contenedor .contenido {


    opacity: 70%;
    grid-area: contenido;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 30px;
}

.tabla .contenedor-centrado {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 26px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    display:block;
    background-color: pink;
    opacity: 80%;
    gap:20px;
   
    justify-content: center;
    color:black;
}

p {
    font-family:'Poppins', sans-serif;

    color:black;
    gap:20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color:rgb(182, 31, 174);
}
.contenedor .encabezado {
grid-area:encabezado;
display:flex;
text-align: center;
/* align-content: center; */
justify-content: center;
width: 1200px;
}
.contenedor .encabezado .titulo3{
    
    font-size: 36px;
    font-family:'Poppins', sans-serif; 
    align-items: center;
    text-align: right;
    display:flex;
    padding: 20px;
}
.contenedor .encabezado .titulo1{
    
    font-size: 60px;
    font-family:'Italianno'; 
    align-items: left;
    text-align: right;
    display:flex;
    padding: 20px;
}


form {
    max-width: 400px;
    opacity: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(206, 231, 234);
    border: 1px solid lightslategray;
    border-radius: 5px;
    font-weight: bolder;
}

.contenido .tabla {
    display:flex;
    justify-content: center;
  
    font-family: 'Poppins', sans-serif;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    align-content: center;

    border: 3px solid rgb(150, 119, 153);
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color:plum;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
}

input[type="submit"]:hover {
    background-color: #38334e;
}

button { 
    align-items: center;
    justify-content: center;
    
    font-family:'Poppins', sans-serif;
    font-size: 15px;
   
    margin:20px;
    background-color:plum ;
    padding: 10px;
    opacity: 70%;
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: bolder;


   
}

button:hover {
    background-color: #a25ad696; ;
    transform: scale(1.1);
    transition: .2s;
}

.table .bt{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin:4px;
    background-color:plum ;
    padding: 26px;
   
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 900;


    
    /* cursor: pointer; */
    text-decoration: none;
    font-size: 85%;
}

.contenedor-centrado:hover{
    color: #a25ad696;
    transform: scale(1.1);
    transition:.2s;
}
th{
    padding:40px;
    gap:30px;
    margin:20px
}
.menu{
    align-items: center;
    justify-content: center;
  
    margin:20px;
    background-color:plum ;
    padding: 10px;
    opacity: 70%;
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: 900;
}

.menu:hover {
    background-color: #a25ad696; ;
    transform: scale(1.1);
    transition: .2s;
}